body{
    background-color: #ffc09b;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #ff8f6c;
}

.middle-header-right-side-header-menu{
    display: inline-block;
    margin-left: 1rem;
}

.middle-header-left-side{
    display: flex;
}

main .faq ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}