
.bolder{
    font-weight: bolder;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-image{
    z-index: 1000;
    position: relative;
}

.banner-title{
    color: white;
    position: absolute;
    z-index: 1001;
    top: 4.5rem;
    left: 2.0rem;
    font-size: 2rem;
}

.banner-title span{
    background-color: $secondary-color;
    padding: 0.5rem;
    border-radius: 0.5rem;
}


.banner-button{
    color: white;
    position: absolute;
    top: 8.8rem;
    z-index: 1001;
    left: 2.0rem;
    font-size: 2rem;
    cursor: pointer;
}

.banner-button span:hover{
    background-color: $secondary-color-dark;    
}


.banner-button span{
    background-color: $secondary-color;    
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image-spartacoin img{
    max-width: 100%;
}

.info-bottom p{
    line-height: 8rem;
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
}

.middle-header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: $primary-color;
}

.middle-header-left-side-image img{
    width: 2rem;
}

.middle-header-left-side-title h2{
    margin-left: 0.2rem;
}



.merchan-element{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-menu{
    display: flex;
    justify-content: flex-end;
}

.nav-menu li{
    margin-left: 0.8rem;
    font-weight: bolder;
}

.row{
    display: flex;
    flex-direction: row;
}

.merchan-element h2{
    margin: 1rem 0 0.5rem 0;
    font-weight: bolder;
    font-size: 1.5rem;
}

.merchan-element span{
    margin: 0 0 0.5rem 0;
    font-weight: bolder;
    color: $primary-color-dark;
    font-size: 1.5rem;
}

.merchan-element p{
    font-size: 1.5rem;
}

.vertical-spaced{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.vertical-aligned-text{
    display: flex;
    align-items: center;
}