.bolder {
    font-weight: bolder;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-image {
    z-index: 1000;
    position: relative;
}

.banner-title {
    color: white;
    position: absolute;
    z-index: 1001;
    top: 4.5rem;
    left: 2.0rem;
    font-size: 2rem;
}

.banner-title span {
    background-color: $secondary-color;
    padding: 0.5rem;
    border-radius: 0.5rem;
}


.banner-button {
    color: white;
    position: absolute;
    top: 8.8rem;
    z-index: 1001;
    left: 2.0rem;
    font-size: 2rem;
    cursor: pointer;
}

.banner-button span:hover {
    background-color: $secondary-color-dark;
}


.banner-button span {
    background-color: $secondary-color;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.category-merchans-container {
    margin: 4rem 0 0 2rem;
}

.category-merchans-products {
    line-height: 2rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.info-bottom p {
    line-height: 8rem;
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
}

.middle-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: $primary-color;
}

.middle-header-left-side-image img {
    width: 2rem;
}

.middle-header-left-side-title h2 {
    margin-left: 0.2rem;
}



.merchan-element {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
}

.nav-menu li {
    margin-left: 0.8rem;
    font-weight: bolder;
}

.row {
    display: flex;
    flex-direction: row;
}

.merchan-element-image img {
    width: 200rem;
}

.merchan-element-title h2 {
    font-weight: bolder;
    font-size: 1.5rem;
}

.merchan-element-title {
    margin: 1rem 0 0.5rem 0;
}

.merchan-element-category {
    margin: 0 0 0.5rem 0;
}

.merchan-element-category span {
    font-weight: bolder;
    color: $primary-color-dark;
    font-size: 1.5rem;
}

.merchan-element-description {}

.merchan-element-description p {
    font-size: 1.5rem;
}


.form-title {
    align-items: center;
    margin-top: 4rem;
}

.vertical-spaced {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.vertical-aligned-text {
    display: flex;
    align-items: center;
}

.phone-number {
    display: flex;
    align-items: center;
}

.phone-number-phone-icon{
    margin-right: 0.5rem;
}

.email {
    display: flex;
    align-items: center;
}

.email-email-icon{
    margin-right: 0.5rem;
}


.location {
    display: flex;
    align-items: center;
}

.location-location-icon{
    margin-right: 0.5rem;
}

.schedule {
    display: flex;
    align-items: center;
}

.schedule-schedule-icon{
    margin-right: 0.5rem;
}

.hour {
    display: flex;
    align-items: center;
}

.hour-hour-icon{
    margin-right: 0.5rem;
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.input {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.label-name {
    width: 50%;
}

.label-surname {
    width: 50%;
}

.input-name {
    width: 50%;
}

.input-surname {
    width: 50%;
}

.label-phone {
    width: 50%;
}

.label-mail {
    width: 50%;
}

.input-phone {
    width: 50%;
}

.input-mail {
    width: 50%;
}

.input-message{
    width: 100%;
}

.form-content{
    margin-top: 2rem;
}

.form-info{
    width: 16rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.form-input{}

.send{
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 8rem;
}

.send button{
    border: 0;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 0.8rem;
    background-color: $primary-color-dark;
    cursor: pointer;
}

input{
    border: 0;
    border-radius: 0.2rem;
}

textarea{
    border: 0;
    border-radius: 0.2rem;
}