
.contact{
    padding: 0 5%;
    width: 90%;
}

.form-title {
    align-items: center;
    margin-top: 4rem;
}

.vertical-spaced {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.vertical-aligned-text {
    display: flex;
    align-items: center;
}

.phone-number {
    display: flex;
    align-items: center;
    margin-bottom: 2.2rem;
    margin-top: 0.5rem;
}

.phone-number-phone-icon{
    margin-right: 0.5rem;
}

.email {
    display: flex;
    align-items: center;
    margin-bottom: 2.2rem;
}

.email-email-icon{
    margin-right: 0.5rem;
}


.location {
    display: flex;
    align-items: center;
    margin-bottom: 2.2rem;
}

.location-location-icon{
    margin-right: 0.5rem;
}

.schedule {
    display: flex;
    align-items: center;
    margin-bottom: 2.2rem;
}

.schedule-schedule-icon{
    margin-right: 0.5rem;
}

.hour {
    display: flex;
    align-items: center;
    margin-bottom: 2.2rem;
}

.hour-hour-icon{
    margin-right: 0.5rem;
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.label div span {
    font-weight: bolder;
}

.input {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.label-name {
    width: 50%;
}

.label-surname {
    width: 50%;
}

.input-name {
    width: 50%;
}

.input-name input {
    width: 90%;
}

.input-surname {
    width: 50%;
}

.input-surname input {
    width: 90%;
}


.label-phone {
    width: 50%;
}

.label-mail {
    width: 50%;
}

.input-phone {
    width: 50%;
}

.input-phone input {
    width: 90%;
}

.input-mail {
    width: 50%;
}

.input-mail input {
    width: 90%;
}

.input-message{
    width: 100%;
}

.form-content{
    margin-top: 2rem;
}

.form-info{
    width: 16rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.form-input{}

.send{
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 2rem;
}

.send button{
    border: 0.2rem solid white;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 0.8rem;
    background-color: $primary-color-dark;
    background-image: linear-gradient(to right, $primary-color-dark , $primary-color);
    cursor: pointer;
}

input{
    border: 0;
    border-radius: 0.2rem;
}

textarea{
    border: 0;
    border-radius: 0.2rem;
    width: 95%;
}

.phone-number-phone-text span {
    font-weight: bolder;
}

.email-email-text span {
    font-weight: bolder;
}

.location-location-text span {
    font-weight: bolder;
}

.schedule-schedule-text span {
    font-weight: bolder;
}

.hour-hour-text span {
    font-weight: bolder;
}