.main-title {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.faqs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-main {
    display: flex;
    align-items: center;
}

.faq-arrow {
    display: flex;
    align-items: center;
    margin-left: 0.4rem;
    transform: rotateZ(90deg);
    transition: transform 0.3s;
}

.faq-arrow.active {
    transform: rotateZ(270deg);
    transition: transform 0.3s;
}


.faq-submain {
    position: relative;
    transform: rotateY(90deg);
    transition: transform 0.3s;
}

.faq-submain.active {
    transform: rotateY(0deg);
    transition: transform 0.3s;
}