body {
    background-color: $primary-color-light;
}

main {
    .banner-button span {
        background-color: #ff6670;
        position: absolute;
        top: 7rem;
        left: 1rem;
        padding: 0.4rem;
        border-radius: 0.4rem;
        font-weight: bolder;
    }
}













.desktop-only {
    display: none;
}

.mobile-only {
    display: revert;
}